/* This file is for your main application css. */

html, body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0px;
}

@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('/fonts/vcr_osd_mono.ttf');
}

#game {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
}

#hud {
  width: 300px;
  height: 720px;
  position: absolute;
  border-style: solid;
  border-color: #fff;
  border-size: 5px;
  left: 1000px;
}

#score {
  height: 300px;
  line-height: 300px;
  width: 300px;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#leaderboards {
  width: 300px;
  font-size: 24px;
  text-align: center;
  color: #fff;
}


